body {
  background-color: rgb(41, 41, 78);
  color: white;
  text-align: center;
}

#landing-page {
  display: inline;
}

.highscores {
  text-align: left;
  padding-bottom: 5%;
  padding-top: 1%;
  padding-left: 1%;
}

.highscores button {
  width: 20%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
}

.highscores button:hover {
  transform: scale(1.03);
  font-size:120%;
}

.titleJS {
  padding: .5%;
  display: inline;
  background-color: brown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 200%;
}

.text-body {
  border: 6px solid red;
  margin-top: 2%;
}

.text-body li {
  margin: auto;
  padding-top: 2%;
  text-align: center;
  line-height: 150%;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#li4 {
  padding-bottom: 2%;
}

.beginQuiz{
  padding: 5%;
}

.beginQuiz button{
  width: 16%;
  font-size: 140%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
}

.beginQuiz button:hover {
  transform: scale(1.03);
  font-size:150%;
}

#Timer-icon {
  display: none;
}

.timer {
  text-align: right;
  padding-right: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#HighScores-page {
  display: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mostRecentScore {
  padding-top: 10%;
}

.mostRecentScoreText {
  padding-top: 5%;
}

.clearHighScores button{
  width: 20%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
}

.clearHighScores button:hover{
  transform: scale(1.03);
  font-size:120%;
}

#question1-page{
  display: none;
}

.question1 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question1 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question2-page{
  display: none;
}

.question2 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question2 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question3-page{
  display: none;
}

.question3 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question3 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question4-page{
  display: none;
}

.question4 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question4 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question5-page{
  display: none;
}

.question5 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question5 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question6-page{
  display: none;
}

.question6 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question6 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question7-page{
  display: none;
}

.question7 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question7 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question8-page{
  display: none;
}

.question8 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question8 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question9-page{
  display: none;
}

.question9 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question9 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#question10-page{
  display: none;
}

.question10 {
  border: 6px solid red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question10 button{
  width: 100%;
  margin-bottom: 2%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#backToHome-icon {
  display: none;
}

.returnToHome {
  text-align: center;
  padding-top: 25%;
}

.returnToHome button{
  width: 25%;
  font-size: 110%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: green;
  color: blueviolet;
}

.returnToHome button:hover{
  transform: scale(1.03);
  font-size:120%;
}